.wrapperFooter {
  background-color: #2e3b55 !important;
  color: #fff !important;
  top: auto !important;
  bottom: 0;
  @media (max-width: 960px) {
    position: sticky !important;
    bottom: auto;
  }
}
